* {
    box-sizing: border-box;
  }


.bg-dark {
    background-color: black !important;
    color: white;
    height: 50px; 
    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    display: flex;
    /* flex-direction: column; */
    /* margin-top: 300px;
    margin-left: 400px; */
    justify-content: center;
    /* align-items: center; */
    /* margin: auto; */
    /* margin-bottom: 100px; */
    height: 500px;
    width:  900px;
    border: 1px solid grey;
    background-color: #DFB6B2;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

  }
  
  .card-title{
    height: 10px;
    margin-left: 10px;
    
  }

  .card-body{
    padding: auto;
    display: flex;
    box-sizing: content-box;
    justify-content: center;
    grid-row: 1fr 1fr;
  }
  
  #box{
    display: flexbox;
    justify-content: center;
    flex-direction: column;
    /* grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 100px 200px; */
    /* height: 100%; */
    /* max-height: 100vh; */
    /* flex: 1; */;
  }

  body{
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    background-color: bisque;
  }

  .centerflex{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
    align-items: center;
    align-self: center;
    flex:1;
    
  }

  .card-header{
    background-color: #854f6c;
  }


#parrafo{
  border: 2px solid rebeccapurple;
  margin: 10px;
  display: grid;
  padding: .5em; 
  justify-content: center;
  align-items: center;
}

