* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;


  }

.bg-dark {
    background-color: black !important;
    color: white;
    height: 50px; 
    
}

  body{
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    background-color: bisque;
    font-family: monocraft;

  }

.card{
  width: 500px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #f4e7fb;

}

header{
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;

}

header::before{
  content: '';
  position: absolute;

}

header img{
  width: 150%;
  height: 200%;
}

section{
  padding: 10px;
  overflow: hidden;
  text-align: center;

}

section h2{
  margin: .5em 0;

}

section p{
  margin: .1em 0;
}

ul li {
  list-style: none;
  display: inline-block;
  margin: .5em .2em;
}

ul li a {
  text-decoration: none;
  color: rgb(37, 235, 196);
  background: #4e88aa;
  width: 30px;
  height: 30px;
  line-height: 30px !important;
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

ul li a:hover{
  transform: scale(1.2);
}